body{
	background-image: url("http://i.imgur.com/iMHfeTU.jpg");
	background-size: 1369px 886px;
	background-attachment:fixed;
	background-position: left 25%;
	padding: 0;
	margin: 0;
}
.top{
	background: rgba(0,0,0,0.6);
	margin: -50px;
	padding-bottom: 10px;
}
/*Название сайта*/
.name{
	width: 50%;
	padding-top: 25px;
	margin: 0px auto;
	margin-left: 400px;
	font-size: 100px;
	font-family: Forte;
	color: rgba(255, 163, 71, 0.85);
}
/*Меню*/
.main-menu1{
	border-top: 1.5px solid rgba(255, 181, 108, 0.85);
	padding-top: 10px;
	height: 40px;
	margin: 0 auto;
}
.main-menu2{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu2>li{
	display: inline-block;
	font: italic bold 25px Times New Roman;
    margin-right: -4px;
	white-space: nowrap;
	width: 170px;
	text-align: center;
	position: relative;
}
a{
	display: block;
	padding: 5px 8px;
	color: rgba(255, 163, 71, 0.9);
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	background: rgba(0,0,0,0.3);
	
}
.submenu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 170px;
	text-align: left;
	position: absolute;
	background: rgba(0,0,0,0.3);
}
.main-menu2 .submenu{
	display: none;
}
.main-menu2>li:hover .submenu{
	display: block;
}

/*Содержание главной страницы*/
.text{
	background: rgba(0,0,0,0.75);
	margin: 100px auto 30px;
	padding: 30px;
	width: 50%;
}
 p{
	font-size: 23px;
	padding: 0 10%;
	text-indent: 10%;
	font-family: Tahoma;
	line-height: 1.2;
	color: rgba(255, 163, 71, 0.9);
}
/*Подвал*/
.basement{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 165px;
	text-align: center;
}
.basement p{
	font-family: Times New Roman;
	text-indent: 1.3%;	
	font-weight: bold;
	font-style: italic;
	color: black;
	font-size: 28px;
}
/*Меню*/
.table{
	margin: 70px auto;
	width: 60%;
	background: rgba(0,0,0,0.7);
}
table{
	border-collapse: collapse;
}
table td:last-child{
	width: 560px;
	font-size: 19px;
	padding: 0 20px;
	text-indent: 28%;
	font-family: Tahoma;
	line-height: 1.2;
	color: rgba(255, 163, 71, 0.9);
}
.pic{
	padding: 5px 10px; 
}
td{
	border-bottom: 1.5px solid black;
}
/*Доставка*/
.delivery{
	margin: 70px auto;
	width: 60%;
	background: rgba(0,0,0,0.7);
	border: 3px solid black;
}
.delivery img{
	transform: translateX(503px) translateY(-300px) rotate(-90deg);
}
#txt{
	color:red;
	font-size:20px;
}
/*Для всех заголовков*/
h1{
	color: rgba(255, 117, 25, 0.9);
	font-family: Times New Roman;	
	font-weight: bold;
	font-style: italic;
	font-size: 60px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 80px;
}
.delivery p{
	font-size: 27px;
	padding-left: 30px;
	font-family: Tahoma;
	line-height: 1.2;
	color: rgba(255, 163, 71, 0.9);
}
/*Контакты*/
.info{
	margin: 70px auto;
	width: 60%;
	background: rgba(0,0,0,0.7);
	border: 3px solid black;
}
.info img{
	transform: translateX(503px) translateY(-300px) rotate(-90deg);
}
.block{
	display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    vertical-align: bottom;
	margin-right:5px;
	border: 1px solid black;
}
.block1{
	background: -18px -19px no-repeat url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcREDnrZzFLentMKgTqTTyzbduhP8yUh2nMCiw2k23-Ex6mxB8dYdw");
}
.block2{
	background: -71px -72px no-repeat url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcREDnrZzFLentMKgTqTTyzbduhP8yUh2nMCiw2k23-Ex6mxB8dYdw");
}
/*Фотогалерея*/
.photo {
	margin: 70px auto;
	width: 60%;
	background: rgba(0,0,0,0.7);
}
.photo h1{
	margin-bottom: 40px;
	padding-top: 40px;
}
.photo img{
	transform: translateX(45px);
}
.photo p{
	padding: 15px 45px;
}
.photo img:last-child{
	margin-bottom:40px;
}
/*Акции*/
.action{
	margin: 70px auto;
	width: 54%;
	background: rgba(0,0,0,0.7);
	padding: 50px 40px;
}
.action p{
	padding: 20px 30px;
	display: none;
}
.action img{
	transform: translateX(115px);
}
#button{
	padding: 5px 40px;
	display: block;
	font-size: 15px;
}
#button:hover{
	color: 	rgb(192,0,0);
	cursor: pointer;
}
/*Регистрация*/
.registry{
	margin: 70px auto;
	width: 60%;
	background: rgba(0,0,0,0.7);
	font-size: 27px;
	padding-left: 30px;
	font-family: Tahoma;
	line-height: 1.2;
	color: rgba(255, 163, 71, 0.9);
	padding-bottom:40px;
}
.registry h1{
	padding-top: 40px;
	margin-bottom: 15px;
}
#message{
	display:none;
	font-size:15px;
	color:red;
	
}
#message1{
	display:none;
	font-size:15px;
	color:red;
	
}

/*Вакансии*/
.vacancy{
	margin: 70px auto;
	width: 54%;
	background: rgba(0,0,0,0.7);
	padding: 5px 40px;
}
.vacancy p{
	text-align:right;
	font-size: 30px
}
.vacancy img{
	transform:translateY(-380px);
}
.vacancy h1{
	margin-bottom:150px;
}

/*******************************
 *
 *******************************/
 
.bird
{
/*border: 4px solid #999;*/
width: 100px;
height: 30px;
position: absolute;
text-align: left;
display: none;
/*background: #F0F0F0;*/
vertical-align: middle;
font-size: 18px;
} 	
.blindLayer {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1001;
display: none;
}
.bcontainer
{
position: absolute;
width: 800px;
height: 400px;
background: #fff;
border: 8px solid #999;	
padding: 20px;
display: none;
z-index: 1002;
}
#overflw
{
overflow-y: scroll;
overflow-x: hidden;
height: 300px;
	
	
}

#bcaption
{
background: #C0C0C0;

}
#bcaption td
{
border-right: 2px solid #999;
font-weight: bold;
text-align: center;	
}
#bcaption td {padding: 5px;}
#bcaption td:nth-child(1) { width: 50px; }		/*ID*/
#bcaption td:nth-child(2) { width: 300px; }		/*NAME*/
#bcaption td:nth-child(3) { width: 100px; }		/*PRICE*/
#bcaption td:nth-child(4) { width: 150px; }		/*NUM*/
#bcaption td:nth-child(5) { width: 70px; }		/*SUM*/

.bitem td
{
font: normal 18px Arial;
color: #999;
padding: 5px;	
border-bottom: 1px solid #999;	
border-right: 2px solid #FFF;
}

.bitem td:nth-child(1) { width: 50px; }
.bitem td:nth-child(2) { width: 300px; }
.bitem td:nth-child(3) { width: 100px; text-align: center;} 
.bitem td:nth-child(4) { width: 150px; text-align: center;}
.bitem td:nth-child(5) { width: 70px; text-align: center;}

#bclose
{
float: right;	
}

.bcontainer table
{
width: 100%;	
}
.bbutton
{
color: #999;
-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);	
padding: 5px;
font: bold 16px Arial;	
float: right;
}
#bsum
{
float: right;
margin: 0 20px;	
font: normal 18px Arial;
}
.popup {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #808040;
    left: 50%;
    margin-left: -265px;
    padding: 25px 20px;
    position: fixed;
    top: 50px;
    width: 550px;
    z-index: 2002;
    display: none;
}  
.popup h4	{
		margin-bottom: 4px;
	}
	.popup form	{
		padding: 30px 0 0 0;
	}
	.popup input[type="text"]{
		text-align: center;
		font-style: italic;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid #D9D9D9;
    	display: inline-block;
    	height: 40px;
    	line-height: 40px;
    	padding: 0;
    	vertical-align: middle;
	}
	
	.cart
{
width: 300px;
height: 70px;
position: absolute;
top: 20px;
right: 20px;
border: 1px solid #004080;
border-radius: 5px;
padding: 10px;
font: normal 11px Arial;
}
.price
{
margin: 10px;
font: normal 16px Arial;
border-radius: 5px;
background: #F0F0F0;
text-align: center;
padding: 8px;
}
	.popup .alignCenter	{
		margin-top: 30px;
	}
	.popup textarea {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    border: 1px solid #D9D9D9;
    
	}
.basket_num
	{
	padding: 4px;
	background: #F0F0F0;	
	}
.basket_num_buttons
	{
	width: 20px; 
	height: 20px;
	border: 1px solid #000;
	margin: 0 5px;
	display: inline-block;	
	color: #FFF;
	background: #000;
	text-align: center;
	cursor: pointer;	
	}