<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="action">
			<img src="http://img.pizzahut.ru/actions/2+1.jpg" width="70%" height="50%">
			<p id="button" onclick="op_act1()">Подробнее</p>
			<p  id="action1">Купи 2 пиццы диаметром 30 см, введи код ТРИ ПИЦЦЫ - получи Маргариту или Грибную на Cупертесте в подарок! Акция действует
			до 30.11.15 и не суммируется с другими предложениями. ПРОМО-пицца в акции не участвует.</p>
			<img src="http://img.pizzahut.ru/coupons/roll_new.jpg" width="70%" height="50%">
			<p id="button" onclick="op_act2()">Подробнее</p>
			<p  id="action2">Зарегистрируйся на нашем сайте, подключи рассылку и получи код на 2 пицца-ролла при заказе на любую сумму! Акция действует
			до 31.12.15 и не суммируется с другими предложениями.</p>
		</div>
{% endblock %}
