<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="info">
			<h1>Наши контакты</h1>
			<p><b><span class="block block1"></span>Наш тел.:</b></p>
				<p>25-25-20</p>
			<p><b><span class="block block2"></span>Адреса:</b></p>
				<p>Малышева 32<br>пн-вс круглосуточно,<br>тех.перерыв: 5:00-7:00 пн.5:00-11:00</p>
				<p>Гагарина 15/4<br>пн 11:00-23:00, без перерыва<br>вт-вс 10:00-23:00, без перерыва</p>
			<p>info@BuonAppetito.ru</p>
			<img src="http://www.pp22.ru/upload/iblock/529/52909eb76581136f7b12936eb9ea6ffa.png" width="50%" height="50%">
		</div>
{% endblock %}
