<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="delivery">
			<h1>Доставка</h1>
			<p>пн С 12 ДО 21</p>
			<p>вт-чт; вс С 11 ДО 21</p>
			<p>пт-сб С 11 ДО 22</p>
			<p>МИНИМАЛЬНЫЙ ЗАКАЗ - ОТ 400р</p>
			<p>ДОСТАВКА ПО ГОРОДУ 90р</p>
			<p>ОТДАЛЕННЫЕ РАЙОНЫ - 150р</p>
			<p id="txt"></p>
			<img src="http://www.pp22.ru/upload/iblock/529/52909eb76581136f7b12936eb9ea6ffa.png" width="50%" height="50%">
		</div>
{% endblock %}
