<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-xs-offset-1 col-sm-offset-1" id="leftImage">

	</div>
	<div class='text'>
		<p>Когда вокруг пульсирует город, особенно приятно ощутить тепло и уют деревянных стен настоящего итальянского заведения.
		Пиццерия <i><b>«Buon appetito!»</b></i> - это островок солнечной Тосканы. Очутившись в этом удивительном тихом итальянском мире,
		сразу понимаешь, что нет ничего дороже этого тепла, заботы сервиса и ненавязчивого внимания к каждому клиенту.</p>
		<p>Итальянцы всегда понимали суть приготовления вкусной и полезной пищи, команда пиццерии <i><b>«Buon appetito!»</b></i>
		также постаралась в наших салатах, пастах, закусках и других прекрасных средиземноморских блюдах передать всю гамму
		разнообразия вкусовых ощущений, по достоинству оценить которые вы сможете, лишь посетив наш ресторан. </p>
	</div>
	<div class='basement'><p>Приходите к нам! С Вас аппетит и хорошее настроение, а с нас - вкуснейшая еда, уют и живая музыка!</p></div>
{% endblock %}

		
