<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="photo">
			<h1>Интерьер нашего ресторана</h1>
			<p>Эстетически привлекательный и креативный дизайн интерьера был выдержан в спокойной и безмятежной манере с преобладанием
			фактурных материалов и нейтральной оттеночной палитры, наполняющей обстановку особенным очарованием и элегантностью.
			Настенная поверхность и потолок окрашены в светлый бежевый цвет, что представляет собой идеальный фон для креативного
			мебельного гарнитура, декоративных элементов и аксессуаров.</p>
			<img src="http://interiorscafe.ru/wp-content/uploads/pizzaexpress-restaurant-008.jpg">
			<img src="http://interiorscafe.ru/wp-content/uploads/pizzaexpress-restaurant-006.jpg">
			<p>Придают салону невероятную индивидуальность и магнетическое очарование картины с авиационной тематикой, которые выдержаны
			в насыщенной и выразительной оттеночной палитре. Они прекрасно вписываются в убранство заведения и наполняют атмосферу магнетическим
			очарованием и шармом.</p>
			<img src="http://interiorscafe.ru/wp-content/uploads/pizzaexpress-restaurant-005.jpg">
			<img src="http://interiorscafe.ru/wp-content/uploads/pizzaexpress-restaurant-004.jpg">
		</div>
{% endblock %}
