<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block page %}
	<div class="vacancy">
		<h1>Требуются</h1>
			<p>продавец-кассир</p>
			<p>помощник кассира</p>
			<p>повар</p>
			<p>официанты</p>
		<img src="http://img-fotki.yandex.ru/get/6107/47407354.593/0_c7bc5_9a0e21a0_L.png" width="50%" height="50%">
	</div>
{% endblock %}
