{% extends "Main.html" %}
{% block title %}Contacts{% endblock %}
{% block backscript %}
<script type="text/javascript">
	
</script>
		<link href="Внешние стили(сайт).css" rel="stylesheet">
		<title>Пиццерия «Buon appetito!»</title>
{% endblock %}
{% block pagetext %}
		<div class="top">
			<div class="name">Buon appetito!</div>
			<div class="main-menu1">
				<ul class="main-menu2">
					<li style="margin-left:44px"><a href="Главная(сайт).html">Главная</a></li> 
					<li>
						<a href="">Меню</a>
						<ul class="submenu">
							<li><a href="Пицца(сайт).html">Пицца</a></li>
							<li><a href="Закуски(сайт).html">Закуски</a></li>
							<li><a href="Напитки(сайт).html">Напитки</a></li>
						</ul>
					</li>
					<li><a href="Доставка(сайт).html">Доставка</a></li>
					<li><a href="Контакты(сайт).html">Контакты</a></li>
					<li><a href="Фотогалерея(сайт).html">Фотогалерея</a></li>
					<li><a href="Акции(сайт).html">Акции</a></li>
					
					<li>
						<a href="Регистрация(сайт).html">Регистрация</a>
						<ul class="submenu">
							<li><a href="Авторизация.html">Авторизация</a></li>
						
						</ul>
					</li>
					<li><a href="Вакансии(сайт).html">Вакансии</a></li>
				</ul>
			</div>
		</div>
		<div class="info">
			<h1>Наши контакты</h1>
			<p><b><span class="block block1"></span>Наш тел.:</b></p>
				<p>25-25-20</p>
			<p><b><span class="block block2"></span>Адреса:</b></p> 
				<p>Малышева 32<br>пн-вс круглосуточно,<br>тех.перерыв: 5:00-7:00 пн.5:00-11:00</p> 
				<p>Гагарина 15/4<br>пн 11:00-23:00, без перерыва<br>вт-вс 10:00-23:00, без перерыва</p>
			<p>info@BuonAppetito.ru</p>
			<img src="http://www.pp22.ru/upload/iblock/529/52909eb76581136f7b12936eb9ea6ffa.png" width="50%" height="50%">
		</div>		
			
{% endblock %}
